{% extends "layout_main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-user">
            <div class="card-body">
                <p class="card-text">
                </p><div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <a href="https://github.com/surbhitawasthi" target="_blank">
                    <img class="avatar" src="../static/assets/img/sur.jpeg" alt="...">
                    <h5 class="title">Surbhit Awasthi</h5>
                </a>
                <p class="description">
                    Ceo/Co-Founder/Cto
                </p>
            </div>
                <p></p>
                <div class="card-description" style="text-align: center">
                    Parallel lines have a lot in common, but they never meet, Ever. You might think that's sad. But every other pair of lines meets and then drifts apart forever. Which is pretty sad too...
                </div>
            </div>
            <div class="card-footer">
                <div class="button-container">
                    <button onclick="window.open('https://www.github.com/surbhitawasthi');" class="btn btn-icon btn-round btn-github">
                        <i class="fab fa-github"></i>
                    </button>
                    <button onclick="window.open('https://www.facebook.com/surbhitawasthi');" class="btn btn-icon btn-round btn-facebook">
                        <i class="fab fa-facebook"></i>
                    </button>
                    <button onclick="window.open('https://twitter.com/Surbhit_Awasthi');" class="btn btn-icon btn-round btn-twitter">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button onclick="window.open('https://plus.google.com/+surbhitawasthi');" class="btn btn-icon btn-round btn-google">
                        <i class="fab fa-google-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-user">
            <div class="card-body">
                <p class="card-text">
                </p><div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <a href="https://github.com/Abhishek1103" target="_blank">
                    <img class="avatar" src="../static/assets/img/aks.jpeg" alt="...">
                    <h5 class="title">Abhishek Kr. Singh</h5>
                </a>
                <p class="description">
                    Ceo/Co-Founder/Cto
                </p>
            </div>
                <p></p>
                <div class="card-description" style="text-align: center">
                    If people could read minds and two people were reading each other's mind wouldn't they be reading their own minds? Hmm... Never mind just leave it start coding
                </div>
            </div>
            <div class="card-footer">
                <div class="button-container">
                    <button onclick="window.open('https://www.github.com/Abhishek1103');" class="btn btn-icon btn-round btn-github">
                        <i class="fab fa-github"></i>
                    </button>
                    <button onclick="window.open('https://www.facebook.com/abhishek.kr.singh.11');" class="btn btn-icon btn-round btn-facebook">
                        <i class="fab fa-facebook"></i>
                    </button>
                    <button onclick="window.open('https://twitter.com/KumarAbh494');" class="btn btn-icon btn-round btn-twitter">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button onclick="window.open('https://plus.google.com/112218669789782396058');" class="btn btn-icon btn-round btn-google">
                        <i class="fab fa-google-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}