{% extends "layout_main.html" %}
{% block content %}
<style>
    div.tolltip-inner {
    max-width: 350px;
}
</style>
<div class="row">
    {% for mlmodel in mlmodels %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <a href="{{ url_for('datatraining.options',dataset_name=mlmodel.dataset_name, algo_name=mlmodel.algo_name) }}" rel="tooltip" title="{{ tooltip[mlmodel.algo_name] }}"><h4 class="card-title">{{ mlmodel.algo_name }}</h4></a>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <span rel="tooltip" title="{{ tooltip['Accuracy'] }}">Accuracy: {{ mlmodel.accuracy*100 }}</span>
                </div>
                <div class="alert alert-info">
                    <span rel="tooltip" title="{{ tooltip['TrainTest'] }}">Test : Train : : {{ 100*mlmodel.train_test_split }} : {{ 100*(1 - mlmodel.train_test_split) }}</span>
                </div>
                <div class="alert alert-info">
                    <span rel="tooltip" title="{{ tooltip['FeatureSelection'] }}">Number of Features: {{ mlmodel.no_of_features }}</span>
                </div>
                <div class="alert alert-info">
                    <span rel="tooltip" title="{{ tooltip['Normalisation'] }}">Normalization: {{ mlmodel.normalization }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    $(document).ready(function () {
  $("a").tooltip({
    'selector': '',
    'placement': 'top',
    'container':'body'
  });
});

$('.auto-tooltip').tooltip();
</script>
{% endblock %}