{% extends "layout_main_r.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto text-center">
                            <h4 class="card-title"><font size="6">Where The World Comes To Life</font><br>Visualizations
                                <p class="category">Click to view info about that parameter</p>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 ml-auto mr-auto">
                            <label><font size="6">Principal component analysis (PCA)</font></label>
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-block"
                                            onclick="demo.showNotificationScore('top','left', {{ pca['Score'] }})">Score
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-block"
                                            onclick="demo.showNotificationCovariance('top','left', '{{ pca['Covariance'] }}')">
                                        Covariance
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-block"
                                            onclick="demo.showNotificationPrecision('top','left', '{{ pca['Precision'] }}')">
                                        Precision
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card " style="padding: 2em">
            <div class="card-header">
                <h4 class="title"><font size="6">Deep Dive into Data</font></h4>
            </div>
            <div class="card-body">
                {% include facet_dive %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card" style="padding: 2em">
            <div class="card-header">
                <h4 class="title"><font size="6">Data Specification</font></h4>
            </div>
            <div class="card-body">
                {% include facet_overview %}
            </div>
        </div>
    </div>
</div>
{% for plotly_scatter, name in plotly_scatter_dict.items() %}
<div class="row">
    <div class="col-md-12">
        <div class="card" style="padding: 2em">
            <div class="card-header">
                <h4 class="title"><font size="6">{{ name }}</font></h4>
            </div>
            <div class="card-body">
                {% include plotly_scatter %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-md-12">
        <div class="card" style="padding: 2em">
            <div class="card-header">
                <h4 class="title"><font size="6">Pair Plot</font></h4>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="{{ output_path }}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>
{% endblock %}